# for some reason there are packages that are on a bit different url npm-repo vs npm-local
registry=https://nexus-private.infra.cloudera.com/nexus/repository/npm-repo/ 

@cloudera-internal:registry=https://nexus-private.infra.cloudera.com/nexus/repository/npm-local 